@import './base.css';
@font-face {
  font-family: 'zhH';
  src: local("zhH"),
    url('../assets/zhH.ttf') format("opentype"),
}
@font-face {
  font-family: 'zhH2';
  src: local("zhH2"),
    url('../assets/zhH2.ttf') format("opentype"),
}
@font-face {
  font-family: 'zhQ';
  src: local("zhQ"),
    url('../assets/zhQ.ttf') format("opentype"),
}
//共用css
p ,h1 ,h2 ,h3 ,h4 ,h5 ,h6 ,a ,span ,button ,div {
  font-family: 'zhH2';
  color: black;
}
.flex_center{
  display: flex;
  justify-content: center;
  align-items: center;
}
#Info{
  top: 0;
  width: 100%;
}
#Chat{
  position: absolute;
  bottom: 0;
  width: 100%;
}
.home_top{
  height: 95%;
}

//二次確認
.check{
  position:absolute;
  bottom: 40%;
  left: 50%;
  transform: translate(-50%);
  z-index: 9999;
  background: rgba(255, 255, 255, 0.719);
  padding: 10px 40px 10px 40px;
  border-radius: 20px;
  width: 300px;
  input{
    width: 100%;
  }
  p{
    text-align: center;
    font-size: 1.2rem;
  }
  span{
    color: red;
  }
  div{
    width: 100%;
    display: flex;
    justify-content: center;
  }
  button{
    border: none;
    background: white;
    padding: 5px;
    margin: 6px;
    cursor: pointer;
  }
  button:hover{
    border: none;
    background: rgb(204, 204, 204);
    padding: 5px;
    margin: 6px;
  }
}

.background-img{
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.9;
}

.display_flex{
  display: flex !important;
}
.display_none{
  display:none !important;
}

//共用css END

body{
  background: rgb(232, 232, 232);
}


#app{
  width: 100%;
  height: 100%;
  flex-direction:column;
}

#wrapper{
  border: 1px solid;
  width: 500px;
  height: 700px;
  user-select: none;
  overflow:hidden;
}
#footer{
  width: 90%;
  flex-direction: column;
}


@media (max-width: 700px) {
  #center_wrapper{
    width: 90%;
    height: 90%;
  }
  #wrapper{
    border: 1px solid;
    margin-bottom:10px;
    user-select: none;
    overflow:hidden;
  }
}
